#man {
  display: block;
  margin-left: 200px;
  margin-right: 200px;
  width: 110px;
  height: 120px;
  filter: drop-shadow(5px 5px green);
}
#macnelly {
  display: block;
  margin-left: 10px;
  margin-right: 400px;
  width: 110px;
  height: 120px;
  filter: drop-shadow(5px 5px black);
}
#rene {
  display: block;
  margin-left: 300px;
  margin-right: 10px;
  width: 110px;
  height: 120px;
  filter: drop-shadow(5px 5px green);
}
